
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');


body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100%;
}


@media screen and (min-width: 1020px) {
}